
nav
{
	width:70%;
	background-color: #fff8e2;
	text-align: center;
	position:fixed;
	display: inline-block;
}

.navli
{
	margin-left: 100px;
	color: black;
}

.navli:hover
{
	color: red;
}


#details
{
	padding-top: 90px;
}


.Lblock
{

	float: left;
	display: inline-block;
	width:50%;
}

.Rblock
{
	float:right;
	display: inline-block;
	width:50%;
}
	
h4
{


}



@media screen and (max-width: 500px)
{
	.Lblock
	{
		float:none;
		width:100%;
	}

	.Rblock
	{
		float:none;
		width:100%;
	}

	.navli
	{
		margin-left: 20px;

	}
}